.socialRegister {
    outline: none;
    border: 1px solid rgb(182, 182, 182);
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    margin: 0px 8px;

}
.circleItem {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

}
.forgotBtn {
    outline: none;
    border: none;
    background-color: #037EC2;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    margin-top: 10px;
}
.LoginBtn:hover{
    background-color: #0194e3;
}

.dividerWithText {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 20px 0;
  }
  
  .dividerWithText span {
    font-size: 16px;
    color: #000;
    position: relative;
    padding: 0 10px;
    background-color: #fff;
  }
  
  .dividerWithText::before,
  .dividerWithText::after {
    content: '';
    flex: 1;
    height: 2px;
    background-color: #ccc;
  }
  
  .dividerWithText::before {
    margin-right: 10px;
  }
  
  .dividerWithText::after {
    margin-left: 10px;
  }
  