.feature0bg{
    background-color: var(--aero-primary);
    height: 248px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--aero-white);
}
.outlinenav{
    border: 2px solid var(--aero-primary);
    color: black;
    padding: 7px 16px;
    border-radius: 500px;
    background-color: white;
    transition: all .3s ease-in-out;
    
  }
  .activenav{
    background-color: var(--aero-primary);
    color: var(--aero-white);
    padding: 8px 16px;
    border-radius: 500px;
    border: none;
    border: 2px solid var(--aero-primary);
  }
  .outlinenav:hover{
    background-color: var(--aero-primary);
    color: white;
    
  }