.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}


.headerTag {
  background-color: var(--aero-bg);
  padding: 8px 25px;
  display: inline-block;
  border-radius: 50px;

}

.mainHeading {
  font-size: 4.2rem;
  font-weight: 500;
}

.mainButton {
  outline: none;
  border: none;
  background-color: var(--aero-primary);
  color: var(--aero-white);
  padding: 18px 48px;
  border-radius: 50px;
  transition: all .3s ease-in-out;
}

.mainButton:hover {
  background-color: var(--aero-primary-hover);

}

.superImage {
  position: relative;
  left: -50px;
}

.float {
  position: absolute;
  border-radius: 10px;
  padding: 10px;
}

.flowtingDiv {
  width: 170px;
  top: 30px;
  left: 0px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.flowtingDivLower {
  width: 170px;

  right: 20px;
  top: 250px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.circleItem {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

}

.floatContent {

  text-align: center;
}

.floatContent h6 {
  font-weight: 600;
}

.floatContent p {
  font-weight: bold;
  font-size: 2rem;

}

.btn {
  outline: none;
  border: none;
  padding: 15px 0px;
  width: 100%;
  border-radius: 5px;
}

.btnPrimary {
  background-color: var(--aero-primary);
  color: var(--aero-white);
  transition: all .3s ease-in-out;
  border: 2px solid var(--aero-primary);
}

.btnOutlineprimary {
  border: 2px solid var(--aero-primary);
  background-color: var(--aero-white);
  color: #1a1a1a;
  transition: all .3s ease-in-out;
}

.btnPrimary:hover {
  background-color: var(--aero-primary-hover);
  color: var(--aero-white);
}

.btnOutlineprimary:hover {
  background-color: var(--aero-primary);
  color: var(--aero-white);
}

.circleColor {
  background: linear-gradient(to left, #438BF4, #3CB1F7);

  /* Example colors */
}

.bgWave {
  background-image: url('/Images/wave.png');
  /* Adjust path if needed */
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  display: block;
  /* Ensure it takes up space */
}

.outlinenav {
  border: 2px solid var(--aero-primary);
  color: black;
  padding: 7px 16px;
  border-radius: 500px;
  background-color: var(--aero-white);
  transition: all .3s ease-in-out;

}

.activenav {
  background-color: var(--aero-primary);
  color: var(--aero-white);
  padding: 8px 16px;
  border-radius: 500px;
  border: none;
  border: 2px solid var(--aero-primary);
}

.outlinenav:hover {
  background-color: var(--aero-primary);
  color: var(--aero-white);

}

.curveLineleft {
  transform: rotate(10deg);
  /* Rotates the arc 5 degrees */
  transform-origin: center;
  /* Ensures it rotates around the center */
  position: absolute;
  top: -61px;
  left: 110px;
  width: 50%;
}

.curveLineRight {
  transform: rotate(-10deg);
  /* Rotates the arc 5 degrees */
  transform-origin: center;
  /* Ensures it rotates around the center */
  position: absolute;
  top: -61px;
  right: 110px;
}

.aeroPrimary {

  background-color: var(--aero-primary);
  position: absolute;
  z-index: 100;
  top: -20px;
  left: 44%;
  right: 44%;
}
.pRelative{
  position: relative;
  top: 50px;
}
.w100{
  width: 100%;
  width: 448px;
}


@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
    /* Move up by 10px */
  }

  100% {
    transform: translateY(0);
    /* Return to original position */
  }
}

.globeAnimation {
  animation: floatUpDown 3s ease-in-out infinite;
}

.secBtn {
  display: none;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

/* Default styles for mobile-first design */

/* Small devices (phones, 350px - 575px) */
@media (min-width: 350px) and (max-width: 575px) {
  .globeAnimation, .resNone {
    display: none;
  }

  .mainHeading {
    font-size: 3rem;
    font-weight: bold;
  }

  .mainButton {
    padding: 12px 30px;
    font-weight: bold;
    border-radius: 10px;

  }

  .secBtn {
    background-color: var(--aero-warning);
    color: var(--aero-black);
  }

  .secBtn:hover {
    background-color: var(--aero-warning-hover);
    color: var(--aero-black);
  }

  .flowtingDiv {
    z-index: 100;
    left: 10px;
    width: 148px;
  }

  .flowtingDivLower {
    left: 0px;
  }

  .resNonePartSVG {
    display: none;
  }
  .pRelative{
    top: 0px;
  }
  .pRes{
    padding: 0px 50px !important;
    margin-bottom: 30px;
  }
}

/* Medium devices (tablets, 576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .globeAnimation, .resNone, .resNonePartSVG {
    display: none;

  }
  .pRelative{
    top: 0px;
  }
  .pRes{
    padding: 0px 50px !important;
    margin-bottom: 30px;
  }
  
}

/* Large devices (small laptops, 768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .globeAnimation, .resNone, .resNonePartSVG {
    display: none;

  }
  .pRelative{
    top: 0px;
  }
  .pRes{
    padding: 0px 50px !important;
    margin-bottom: 30px;
  }
}

/* Extra large devices (desktops, 992px - 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for desktops */
  .curveLineleft{
    left: 200px;
    width: 30%;
  }
  .curveLineRight{
    right: 200px;
    width:  30%;
  }
}



@media (max-width: 1200px) and (min-width: 1400px) {
  .curveLineleft{
    left: 130px;
  }
  .curveLineRight{
    right: 130px;
  }
  
}
@media  (min-width: 1400px) {
  .resContainer{
    padding-left: 80px;
    padding-right: 80px;
  }
  .curveLineleft{
    left: 160px;
  }
  .curveLineRight{
    right: 160px;
  }

}