.navButtonAeroWarning {
    background-color: #FFA726;
    color: black;
    padding: 8px 30px;
    transition: all .3s ease-in-out;
}
.navButtonAeroPrimary {
    background-color: var(--aero-primary);
    color: var(--aero-white);
    padding: 8px 20px;
    
}
.navBtnAro{
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: 600;

}
.navigation {
    background-color: var(--aero-bg);
    border-radius: 500px;
    padding: 9px 9px;
    font-size: 16px;
    position: sticky;
    top: 0;  /* Make it stick at the very top */
    z-index: 1000;
}

.activeItem{
    background-color: var(--aero-blue);
    color: var(--aero-white);
    padding: 8px 16px;
    border-radius: 500px;
}

.navButtonAeroWarning:hover{
    background-color: #ffa826d4;
}
.navButtonAeroPrimary:hover {
    background-color: var(--aero-primary-hover);
}