.sideBar {
  background-color: #FAFAFA;
}

.socialRegister {
  outline: none;
  border: 2px solid black;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 8px;
  padding-left: 100px;
}

.RegisternBtn {
  outline: none;
  border: none;
  background-color: #037EC2;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: all .3s ease-in-out;
  margin-top: 10px;
}

.RegisternBtn:hover {
  background-color: #0194e3;
}

.dividerWithText {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.dividerWithText span {
  font-size: 16px;
  color: #000;
  position: relative;
  padding: 0 10px;
  background-color: #fff;
}

.dividerWithText::before,
.dividerWithText::after {
  content: '';
  flex: 1;
  height: 2px;
  background-color: #ccc;
}

.dividerWithText::before {
  margin-right: 10px;
}

.dividerWithText::after {
  margin-left: 10px;
}

.circleItem {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

}


.fade-enter {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-20px);
}


/* Default styles for mobile-first design */

/* Small devices (phones, 350px - 575px) */
@media (min-width: 350px) and (max-width: 575px) {
  .responsiveRegister {
    margin-top: 100px;
  }

  .socialRegister {
    padding-left: 50px;
  }
}

/* Medium devices (tablets, 576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {}

/* Large devices (small laptops, 768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {}

/* Extra large devices (desktops, 992px - 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for desktops */
}

/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for large desktops */
}